<div class="body">
    <img [src]="backgroundBlobs" alt="" class="backgroundBlobs">
    <img [src]="backgroundRobot" alt="" class="backgroundRobot">
    <div class="sign-in-container">
    
        <div class="logo">
            <img [src]="logoPhoto" alt="logo">  </div>
    
        <div class="soterchat-text-picture elements">
            <img [src]="soterPhoto" alt="My Image" class="soterPhotoText">
        </div>
    
    
        <form #LoginForm="ngForm" class="elements">
            <div class="email form-elements">
                <input [(ngModel)]="email" type="text" ngModel id="email" name="email" placeholder="E-mail"/>
            </div>
            
            <div class="password form-elements">
                <input [(ngModel)]="password"  type="password" ngModel id="password" name="password" placeholder="Password"/>
            </div>
            <div class="submit-button form-elements">
                <button class="login" (click)="login()">Login</button>
            </div>
            <hr style="width:70%; margin: auto;" />
            <p (click)="noAccount()" style="cursor: pointer;" class="login-p">
                Dont have an account?
            </p>
            <a href="/forgot-password"><p>Forgot password?</p></a>
        </form>
    
    
    
    
    </div>
    </div>